body {
    margin: 0px;
    background-image: url(imgs/rps-background.jpg);
    background-size: 100% auto;
    background-position: 0px 0px;
    font-family: helvetica, sans-serif;
    color: #272727;
}

@media only screen and (max-width: 450px) {
    .body {
        width: 350px;
    }
}

h1 {
    font-size: 35px;
    margin: 0px;
}

h3 {
    margin: 0px;
}

.title-text {
    text-align: center;
    margin-bottom: 14px;
    text-decoration: underline;
}

p {
    font-size: 16px;
    margin: 10px 0px;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.body {
    width: 450px;
    height: 800px;
    padding: 8px;
    background-color: white;
    border: 3px solid black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.body-text {
    width: 95%;
    height: 30%;
    padding: 0px 10px;
    border: 5px solid slateblue;
    border-radius: 9px;
    background-color: lavender;
    color: darkslateblue;
}

.scoreboard {
    width: 95%;
    height: 40%;
    padding: 0px 10px;
    background-color: black;
    color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid slateblue;
    border-radius: 9px;
}

.score-title {
    margin: auto;
    padding: 5px 0px;
    text-align: center;
}

.score-line {
    height: 4px;
    width: 125px;
    background-color: lavender;
}

.scores {
    width: 100%;
    margin: auto;
    padding: 4px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.score-cards {
    height: 110px;
    width: 35%;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
    background-color: lavender;
    border: 3px solid slateblue;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.s-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -26px;
    color: lavender;
    background-color: darkslateblue;
    height: 40px;
    border-radius: 4px;
    justify-content: flex-end;
}

.s-line {
    height: 4px;
    background-color: black;
}

.os-text, .ps-text {
    color: darkslateblue;
}

.textcard {
    height: 15%;
    width: 95%;
    padding: 10px;
    border: 5px solid slateblue;
    border-radius: 9px;
    background-color: lavender;
    color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textcard-pick {
    width: 95%;
    display: flex;
    justify-content: space-around;

}

.tc-text {
    display: flex;
    align-items: center;
}

.buttons {
    height: 6%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 8px;
    gap: 25px;
}

.btn {
    width: 33%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    background-color: darkslateblue;
    border: 3px solid darkslateblue;
    border-radius: 9px;
    color: lavender;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}